# Arquivos de compilação e temporários do Angular
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Dependências
/node_modules/

# Logs
npm-debug.log
yarn-error.log

# Pasta de uploads que deve ser ignorada
uploads/

#Pasta services a ser ignorada
src/app/services/
