# Arquivos de compilação e temporários do Angular
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Dependências
/node_modules/

# Logs
npm-debug.log
yarn-error.log

# Pasta de uploads que deve ser ignorada
/uploads/

# Variáveis de ambiente (credenciais e segredos)
env
/src/server/
/src/server/uploads/
/src/server/.env/
env.local
env.production
env.*.local
/config/config.json
/node_modules/
/dist/
