<div class="div">
  <div class="h3">
    <img class="page-header-title"
         src="/assets/system-task-logo.jpg.png"
         alt="Sistemas de Tarefas">
  </div>

  <form class="itens">
    <form
      nz-form
      [formGroup]="validateForms"
      class="login-form"
      (ngSubmit)="submitForm();onSubmit()"
    >
      <nz-form-item>
        <nz-form-control
          nzErrorTip="Por favor, digite seu E-mail."
          style="font-weight: bold"
        >
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="email"
              placeholder="E-mail"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control
          nzErrorTip="Por Favor, Digite sua senha."
          style="font-weight: bold"
        >
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="senha"
              placeholder="Senha"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember" style="color: #ffffff">
            <span style="font-size: 1rem">Lembrar-me</span>
          </label>
        </div>

        <div nz-col [nzSpan]="12">
          <a
            class="login-form-forgot efeito2"
            (click)="CliqueRecuperar_Senha('recuperar-senha')"
            style="font-size: 1rem; display: block"
          >
            Esqueceu a Senha?
          </a>
        </div>
      </div>

      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        (click)="CliqueMenu('menu')"
        style="font-size: 1rem"
      >
        Entrar
      </button>

      <a
        style="
          font-size: 19px;
          margin-top: 3.5%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        class="efeito"
        (click)="CliqueRegistrar('registro')"
      >
        Registre agora!
      </a>
    </form>
  </form>
</div>
