
.h3{
  width: 100%;
  background-color: rgb(238, 175, 1);
  margin: 0;
  box-shadow: 2px 3px 3px 2px rgb(199, 47, 0);
  text-align: center;
  font-size: 2rem;
  justify-content: center;
}

.topobtn {
  display: grid;
  min-width: 150px;
  max-width: 150px;
  margin-top: 1.5%;
  margin-inline-start: 1.5%;
}

