<div class="container mt-4">
  <!-- Título -->
  <h3 class="h3 mb-4">Sistemas de Tarefas - 2024</h3>

  <!-- Botões de Ações -->
  <div class="d-flex justify-content-center gap-3 mb-4">
    <button
      class="btn btn-primary"
      (click)="abrirModalUsuario()"
      style="
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      Usuário: {{ usuario.nome }}
    </button>
    <button
      class="btn btn-primary"
      (click)="isModalVisible = true"
      style="
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      Nova Tarefa
    </button>
    <button
      class="btn btn-secondary"
      (click)="CliqueMinhaTarefa('minhas-tarefas')"
      style="
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      Minhas Tarefas
    </button>
    <button
      class="btn btn-danger"
      (click)="CliqueHome('login')"
      style="
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      Sair
    </button>
  </div>

  <!-- Modal para Exibir Dados do Usuário -->
  <div
    class="modal fade"
    id="usuarioModal"
    tabindex="-1"
    aria-labelledby="usuarioModalLabel"
    aria-hidden="true"
    [class.show]="isUsuarioModalVisible"
    [style.display]="isUsuarioModalVisible ? 'block' : 'none'"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="usuarioModalLabel">Dados do Usuário</h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Fechar"
            (click)="fecharModalUsuario()"
          ></button>
        </div>
        <div
          class="modal-body"
          style="
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
              'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-family: 1rem;
          "
        >
          <p><strong>Nome :</strong> {{ usuario.nome }}</p>
          <p><strong>Telefone :</strong> {{ usuario.telefone }}</p>
          <p><strong>Email :</strong> {{ usuario.email }}</p>
          <button
            class="btn btn-primary mt-3"
            (click)="abrirModalEditarUsuario()"
          >
            Alterar Dados do Usuário
          </button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="fecharModalUsuario()"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Editar Dados do Usuário -->
  <div
    class="modal fade"
    id="editarUsuarioModal"
    tabindex="-1"
    aria-labelledby="editarUsuarioModalLabel"
    aria-hidden="true"
    [class.show]="isEditarUsuarioModalVisible"
    [style.display]="isEditarUsuarioModalVisible ? 'block' : 'none'"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarUsuarioModalLabel">
            Alterar Dados do Usuário
          </h5>
          <button
            type="button"
            class="btn-close"
            aria-label="Fechar"
            (click)="fecharModalEditarUsuario()"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="usuarioForm">
            <!-- Nome -->
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input
                id="nome"
                type="text"
                class="form-control"
                formControlName="nome"
                placeholder="Digite seu nome"
              />
            </div>
            <!-- Telefone -->
            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone</label>
              <input
                id="telefone"
                type="text"
                class="form-control"
                formControlName="telefone"
                placeholder="Digite seu telefone"
              />
            </div>
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                id="email"
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Digite seu email"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="fecharModalEditarUsuario()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="salvarDadosUsuario()"
          >
            Salvar Alterações
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Cadastro de Tarefas -->
  <div
  class="modal fade"
  id="tarefaModal"
  tabindex="-1"
  aria-labelledby="tarefaModalLabel"
  aria-hidden="true"
  [class.show]="isModalVisible"
  [style.display]="isModalVisible ? 'block' : 'none'"
  (keydown.esc)="fecharModal()"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tarefaModalLabel">
          {{ tarefaEditando ? "Editar Tarefa" : "Nova Tarefa" }}
        </h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="fecharModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="tarefaForm" (ngSubmit)="salvarNovaTarefa(tarefaForm.value)">
          <!-- Nome da Tarefa -->
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input
              id="titulo"
              type="text"
              class="form-control"
              formControlName="titulo"
              placeholder="Digite o título da tarefa"
              required
            />
          </div>

          <!-- Descrição -->
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea
              id="descricao"
              class="form-control"
              formControlName="descricao"
              rows="3"
              placeholder="Digite uma descrição para a tarefa"
              required
            ></textarea>
          </div>

          <!-- Prioridade -->
          <div class="mb-3">
            <label for="prioridade" class="form-label">Prioridade</label>
            <select
              id="prioridade"
              class="form-select"
              formControlName="idprioridade"
              required
            >
              <option value="" disabled selected>Selecione uma prioridade</option>
              <option
                *ngFor="let prioridade of prioridades"
                [value]="prioridade.id"
              >
                {{ prioridade.nome }}
              </option>
            </select>
          </div>

          <!-- Estado da Tarefa -->
          <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select
              id="estado"
              class="form-select"
              formControlName="idestado"
              required
            >
              <option value="" disabled selected>Selecione um estado</option>
              <option *ngFor="let estado of estados" [value]="estado.id">
                {{ estado.nome }}
              </option>
            </select>
          </div>

          <!-- Usuário Responsável -->
          <div class="mb-3">
            <label for="usuario" class="form-label">Usuário Responsável</label>
            <input
              id="usuario"
              type="text"
              class="form-control"
              formControlName="idusuario"
              readonly
              [value]="usuario.nome"
              placeholder="Digite o ID do usuário responsável"
            />
          </div>

          <!-- Datas -->
          <div class="mb-3">
            <label for="dataInicio" class="form-label"
              >Data e Hora de Início</label
            >
            <input
              id="dataInicio"
              type="datetime-local"
              class="form-control"
              formControlName="dthrinicio"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="dataFim" class="form-label">Data e Hora de Fim</label>
            <input
              id="dataFim"
              type="datetime-local"
              class="form-control"
              formControlName="dthrfim"
            />
          </div>

          <!-- Documento -->
          <div class="mb-3">
            <label for="documento" class="form-label">Anexar Documento</label>
            <input
              id="documento"
              type="file"
              class="form-control"
              (change)="onFileSelected($event)"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="fecharModal()"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="tarefaForm.invalid"
          (click)="salvarTarefa()"
        >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- Cards das Tarefas -->
  <div class="row">
    <div *ngFor="let tarefa of tarefas" class="col-md-4 mb-4">
      <div class="card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <span>{{ tarefa.titulo }}</span>
          <div>
            <button
              class="btn btn-sm btn-outline-secondary me-2"
              (click)="editarTarefa(tarefa)"
            >
              Editar
            </button>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="excluirTarefa(tarefa.id)"
            >
              Excluir
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Descrição</h5>
          <p class="card-text">{{ tarefa.descricao }}</p>
          <p><strong>Usuário Responsável:</strong> {{ tarefa.usuario }}</p>
          <p>
            <strong>Início:</strong> {{ tarefa.dthrinicio | date : "short" }}
          </p>
          <p><strong>Fim:</strong> {{ tarefa.dataFim | date : "short" }}</p>
          <p><strong>Prioridade:</strong> {{ tarefa.prioridade }}</p>
          <p><strong>Status:</strong> {{ tarefa.estado }}</p>
          <p *ngIf="tarefa.documento">
            <strong>Documento:</strong>
            <a [href]="tarefa.documento.url" target="_blank">{{
              tarefa.documento.nome
            }}</a>
          </p>
          <div class="progress mb-3">
            <div
              class="progress-bar"
              role="progressbar"
              [style.width.%]="calcularProgresso(tarefa)"
              [class.bg-success]="tarefa.estado === 'Concluído'"
              aria-valuenow="calcularProgresso(tarefa)"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ calcularProgresso(tarefa) }}%
            </div>
          </div>
          <button
            class="btn btn-sm btn-outline-primary"
            (click)="incluirSubTarefa(tarefa)"
          >
            + Adicionar Sub-Tarefa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
