@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

.h3{
  width: 100%;
  max-width: 100%;
  height: 50px;
  background-color: rgb(238, 175, 1);
  padding: 5px 0;
  box-shadow: 2px 3px 3px 2px rgb(199, 47, 0);
  text-align: center;
  font-size: 2rem;
  font-family: "Ubuntu", serif;
  font-weight: 300;
  justify-content: center;
}

.topobtn {
  display: grid;
  min-width: 150px;
  max-width: 150px;
  margin-top: 1.5%;
  margin-inline-start: 1.5%;
}

.d-none {
  display: none !important;
}

.progress-bar {
  height: 24px;
  color: white;
  text-align: center;
  line-height: 24px;
  transition: width 0.6s ease;
  display: block; /* Garante que a barra seja exibida */
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-primary {
  background-color: #007bff !important;
}
