/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #f3f1f1;
}

@media screen and (max-width: 768px) {
  body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #f3f1f1;
  }
}

/* Adiciona uma borda preta fina à tabela de "Minhas Tarefas" */
.ConsultaTarefa {
  border: 1px solid #000;
  border-radius: 8px; /* Borda arredondada para um visual mais suave */
  overflow: hidden; /* Garante que o conteúdo interno respeite a borda arredondada */
}
